<fieldset>
  <legend>Menu</legend>
  <%
  Object.keys(menuData).forEach(function(modulePath) {
    const symbols = menuData[modulePath];
    if (!symbols.length) return;
  %>
  <h3><%= modulePath %></h3>
  <ul>
    <%
      symbols.forEach(function (symbol) {
        if (symbol.record.skip) return;
    %>
      <li>
        <span title="<%= symbol.kind %>" class="letter-icon letter-icon-<%= symbol.kind %>">
          <%= symbol.kind[0].toUpperCase() %>
        </span>
        &nbsp;
        <a href="<%= symbol.recordUrl %>"><%= symbol.name %></a>
      </li>
    <% }); %>
  </ul>
  <% }); %>

</fieldset>
