<div class="doc-gutter">
<h1><%= record.kind %>: <%= record.name %></h1>
<hr />

<% if (record.classdesc) { %>
  <%- record.classdesc %>
<% } %>


<% if (record.kind === 'function') { %>
  <%-
    include('../components/function', {
      func: record,
      helpers: helpers,
    });
  %>
<% } %>

<% if (record.isEnum) { %>
  <p>
    <%- record.description %>
  </p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% record.properties.forEach(prop => { %>
        <tr>
          <td class="doc-code-identifier"><%= prop.name %></td>
          <td><%- helpers.link.type(prop.type.names.join(', ')) %></td>
          <td class="doc-code-literal"><%- prop.defaultvalue %></td>
          <td><%- prop.description %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>

<% if (record.kind === 'class') { %>
  <% if (record.$augments && record.$augments.length) { %>
    <h4>Extends:</h4>
    <% record.$augments.forEach(augmentedRecord => { %>
      <%- helpers.link.singleType(augmentedRecord.name) %> &rarr;
    <% }); %> 
    <%= record.name %>
  <% } %>

  <% if (record.$augmentedBy && record.$augmentedBy.length) { %>
    <h4>Subclass(es):</h4>
    <%-
      record.$augmentedBy.map(subclassRecord => 
        helpers.link.singleType(subclassRecord.name)
      ).join(', '); 
    %> 
  <% } %>

  <% if (record.$methods && record.$methods.length) { %>
    <h2>Methods summary</h2>
    <hr />
    <table>
      <thead>
        <tr>
          <th colspan="2">Public methods</th>
        </tr>
      </thead>
      <tbody>
      <% record.$methods.forEach(method => { %>
        <tr>
          <td>
            <%= method.access || 'public' %>
            <%= method.scope === 'static' ? 'static' : '' %>
          </td>
          <td>
            <%-
              include('../components/function-signature', {
                func: method,
                helpers: helpers,
                linkTo: `#${method.slug}`,
              });
            %>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } %>
  <% if (record.$attributes && record.$attributes.length) { %>
    <h2>Properties</h2>
    <hr />
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Attribute</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
      <% record.$attributes.forEach(attribute => { %>
        <tr>
          <td><%= attribute.name %></td>
          <td>
            <% 
              if (attribute && attribute.type && attribute.type.names) {
                attribute.type.names.forEach(type => {
            %>
              <%- helpers.link.type(type) %>
            <%
                });
              }
            %>
          </td>
          <td><%= attribute.access || 'public' %></td>
          <td><%- attribute.description %></td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } %>

  <h2>Methods</h2>
  <hr />
  <% record.$methods.forEach(method => { %>
    <%-
      include('../components/function', {
        func: method,
        helpers: helpers,
        permalink: recordUrl + '#' + method.slug,
      });
    %>
    <br/>
  <% }); %>
<% } %>

<button data-spoiler-button="<%= record.___id %>">DEBUG BUTTON NOT FOR PRODUCTION : toggle JSDoc record visibility</button>
<pre data-spoiler="<%= record.___id %>" style="display: none;">
  <%- JSON.stringify(record, null, 4).replace(/\n/g, '<br>') %>
</pre>
</div>
